/* initialize */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    
}

ul,li,a {
    text-decoration: none;
    list-style: none;
}
/* ------------helper class------------ */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    /* display: flex => flex container */
    display: flex;
    justify-content: space-between;
    /* can't use yet */
    /* gap: 100px; */
}

.col {
    /* these are now flex items */
    width: 100%;
    justify-self: flex-start;
}

.col + .col {
    margin-left: 60px;
}

.coll {
    text-align: center;
    width: 100%;
}

.coll + .coll {
    margin-top: 50px;
}

.section {
    padding: 100px 0;
}

/* ------------- Header Section --------- */
header {
    background-color: #136372;
}

.nav-list {
    display: flex;
    padding: 1rem;
}

.nav-link {
    color: #FFF;
    padding: 1rem;
}

.nav-item + .nav-item {
    margin-left: 3rem;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    
    background-color: white;
    color: #136372;
}

/* ------------- hero section -----------*/

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text {
    width: 60%;
    justify-content: space-between;
    
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

img {
    max-width: 100%;
}

.img-container {
    width: 30%;
}
/* -------------col section----------- */

.container-col-l {
    width: 70%;
    max-width: 1150px;

}

.container-col-r {
    width: 40%;
    max-width: 650px;
 
    background-color: #136372;
    color: #FFF;
    padding: 1.2rem;
    
}

.container-col-l h2 {
    color: #876898;
}
